# This is .env.example file for example

DATABASE_URL="database-url"

PORT="5000"
NODE_ENV="development"

APP_URL="http://localhost:3000"

BETTER_AUTH_SECRET="better-auth-secret"
BETTER_AUTH_URL="http://localhost:5000"
BETTER_AUTH_SESSION_EXPIRES_IN="1d"
BETTER_AUTH_SESSION_UPDATE_AGE="7 days"

ACCESS_TOKEN_SECRET="access-token-secret"
ACCESS_TOKEN_EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET="refresh-token-secret"
REFRESH_TOKEN_EXPIRES_IN="7 days"

EMAIL_SENDER_SMTP_USER="example@gmail.com"
EMAIL_SENDER_SMTP_PASS="example-password"
EMAIL_SENDER_SMTP_HOST="smtp.gmail.com"
EMAIL_SENDER_SMTP_PORT="465"
EMAIL_SENDER_SMTP_FROM="example@gmail.com"

GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:5000/api/auth/callback/google"
